<div id="showbox">
  {{safeString imgStrs}}
</div>
<div id="showsum"></div>
<p class="showpage">
  <a href="javascript:void(0);" id="showlast"> < </a>
  <a href="javascript:void(0);" id="shownext"> > </a>
</p>
