<div class="f-row title clear">
  <div class="head">
    <h4><span>筛选条件</span></h4>
  </div>
</div>
{{#if cats._child}}
<div class="f-row clear">
  <div class="head">
    <h4><span>子分类：</span></h4>
  </div>
  <div class="body">
    <div class="items clear">
      <div class="item-inner">
        {{#each cats._child}}
        <a href="javascript:void(0);" data-select="category::{{yahoo_id}}" class="item">{{caption}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="f-row clear">
  <div class="head">
    <h4><span>新旧：</span></h4>
  </div>
  <div class="body">
    <div class="items clear">
      <div class="item-inner">
        <a href="javascript:void(0);" data-select="istatus::0" class="item active">不限</a>
        <a href="javascript:void(0);" data-select="istatus::1" class="item">全新</a>
        <a href="javascript:void(0);" data-select="istatus::2" class="item">二手</a>
      </div>
    </div>
  </div>
</div>
<div class="f-row clear">
  <div class="head">
    <h4><span>买家：</span></h4>
  </div>
  <div class="body">
    <div class="items clear">
      <div class="item-inner">
        <a href="javascript:void(0);" data-select="abatch::0" class="item active">不限</a>
        <a href="javascript:void(0);" data-select="abatch::1" class="item">商店</a>
        <a href="javascript:void(0);" data-select="abatch::2" class="item">个人</a>
      </div>
    </div>
  </div>
</div>
<div class="f-row clear">
  <div class="head">
    <h4><span>其他：</span></h4>
  </div>
  <div class="body">
    <div class="items clear">
      <div class="item-inner">
        <label class="item"><input type="radio" name="d_free" value="0" checked/>不限</label>
        <label class="item"><input type="radio" name="d_free" value="1"/>免日本邮费</label>
      </div>
    </div>
  </div>
</div>
<div class="f-row clear">
  <div class="head">
    <h4><span>价格：</span></h4>
  </div>
  <div class="body">
    <div class="items clear">
      <div class="item-inner">
        <a href="javascript:void(0);" class="item active">不限</a>
        <a href="javascript:void(0);" class="item" data-select="max::50">50元以下</a>
        <a href="javascript:void(0);" class="item" data-select="min::51,max::100">51-100元</a>
        <a href="javascript:void(0);" class="item" data-select="min::101,max::200">101-200元</a>
        <a href="javascript:void(0);" class="item" data-select="min::301,max::500">201-500元</a>
        <a href="javascript:void(0);" class="item" data-select="min::501,max::1000">501-1000元</a>
        <a href="javascript:void(0);" class="item" data-select="min::1001">1001元以上</a>
        <div class="item-ft">
          <span>¥</span>
          <input type="text" name="min"/>
          <span>-</span>
          <input type="text" name="max"/>
          <button type="button" class="btn btn-warning btn-sm js-pricebtn" style="padding: 2px 8px;">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
